################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs
*.suo
*.v2
/xunit.hackfiap.br/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/xunit.hackfiap.br/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/xunit.hackfiap.br/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/xunit.hackfiap.br/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/xunit.hackfiap.br/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/xunit.hackfiap.br/bin/Debug/net8.0/cs/System.ServiceModel.Http.resources.dll
/xunit.hackfiap.br/bin/Debug/net8.0/cs/System.ServiceModel.Primitives.resources.dll
/xunit.hackfiap.br/bin/Debug/net8.0/de
/xunit.hackfiap.br/bin/Debug/net8.0
/xunit.hackfiap.br/obj/Debug/net8.0
/xunit.hackfiap.br/obj
/xunit.hackfiap.br/.vs/xunit.hackfiap/FileContentIndex
/xunit.hackfiap.br/.vs/xunit.hackfiap/v17/TestStore/0
